name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:


env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: "full"
  RUST_MIN_STACK: 8000000
  CMD_DOC: cargo doc --all-features --no-deps
  CMD_CLIPPY: cargo clippy --all-features --all-targets -- -D warnings
  CMD_BUILD: cargo build --all-features --all-targets


jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - name: Format
        run: cargo fmt --all --check
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: clippy
    - name: Install protoc (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
    - name: Install protoc (macOS)
      if: runner.os == 'macOS'
      run: brew install protobuf
    - name: Install protoc (Windows)
      if: runner.os == 'Windows'
      run: choco install protoc -y
    - name: Cache
      uses: actions/cache@v4
      with:
        path: target
        key: ${{ matrix.os }}
    - name: Documentation
      run: ${{ env.CMD_DOC }}
    #- name: Clippy (fail on warnings)
      #run: ${{ env.CMD_CLIPPY }}
    - name: Test
      run: ${{ env.CMD_TEST }}
    - name: Build
      run: ${{ env.CMD_BUILD }}

